.tag {
  display: inline-block;
  background-color: var(--hbr-henna-green);
  color: var(--hbr-dark);
  padding: 2px 6px;
  font-size: small;
  margin-right: 5px;
  border-radius: 2px;
  text-decoration: none;
  transition: transform 200ms ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.singleView {
  margin-bottom: 1.5rem;
}

.icon {
  margin: 0 10px 0 0;
  padding: 0;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
