.tag {
  display: inline-block;
  background-color: #dd7;
  color: #555;
  padding: 2px 6px;
  font-size: small;
  margin-right: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.singleView {
  margin-bottom: 20px;
}

.icon {
  margin: 0 10px 0 0;
  padding: 0;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
