@import '../../../utils/mixins';

.clients {
  padding: 1rem 0;
  background-color: var(--hbr-dark);
  text-align: center;

  li {
    padding: 24px;

    @include mediumPlus() {
      min-width: 12.5rem;
    }
  }
}

.clientLogos {
  margin: 0;
  padding: 0;
  height: 40px;
  max-width: 100%;
}
