.clients {
  margin: 3rem -1rem;
  padding: 1rem 0;
  background-color: var(--hbr-dark);
  text-align: center;

  li {
    padding: 24px;
  }
}

.dimTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--hbr-gray);
}

.clientLogos {
  margin: 0;
  padding: 0;
  height: 40px;
  max-width: 100%;
}
