@import '../../../utils/mixins';

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
}

.cover {
  display: grid;
  position: relative;
  background-image: url(../../../images/henna-face-paint-by-ruby-large.jpg);
  background-repeat: no-repeat;
  background-position: center left 100%;
  background-size: cover;
  justify-items: center;
  align-items: end;
  height: 300px;
  padding-bottom: 2rem;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 200ms ease;
  }

  @include mediumPlus() {
    background-position: center left;
  }

  @include largePlus() {
    height: 400px;
  }
}

.cover:hover {
  @include mediumPlus() {
    &::before {
      background-color: rgba(0, 0, 0, 0.35);
    }

    .coverCta {
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      padding: 0.75rem 2rem;
    }
  }
}

.subtitle {
  color: initial;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 1rem;
}

.coverCta {
  background-color: var(--hbr-white);
  color: var(--hbr-shocking-pink);
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  text-decoration: none;
  z-index: 2;
  transition: transform 200ms ease, padding 100ms ease;
}

.serviceList {
  list-style: none;
  margin: 0;
  padding: 0;

  @include mediumPlus() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  li {
    position: relative;
    display: inline-block;
  }

  > * + * {
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--hbr-light-gray);

    @include mediumPlus() {
      margin: 0;
      padding: 0;
      border: 0 none;
    }
  }
}

.heading {
  margin-bottom: 1rem;
}

.thumbnail {
  vertical-align: top;
  float: left;
  margin: 0 0.75rem 0 0;
  border-radius: 100%;
  line-height: 1.5;
  width: 100px;
  height: 100px;

  @include mediumPlus() {
    width: 150px;
    height: 150px;
  }
}

.excerpt {
  font-size: medium;
}

/**
 * Get in touch / Contact
 */
.contact {
  display: block;

  &:last-child {
    margin: 0;
  }

  svg {
    margin: -5px 0 0 0;
    vertical-align: middle;
  }

  dt {
    display: inline-block;
    font-weight: normal;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: var(--hbr-dark);
    border-radius: 50%;
    margin-right: 10px;
  }

  dd {
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
