@import '../../../utils/mixins';

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  // grid-gap: 40px;
}

.cover {
  display: grid;
  position: relative;
  background-image: url(../../../images/henna-face-paint-by-ruby-large.jpg);
  background-repeat: no-repeat;
  background-position: center left 100%;
  background-size: cover;
  justify-items: center;
  align-items: end;
  height: 300px;
  padding-bottom: 2rem;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 200ms ease;
  }

  @include mediumPlus() {
    background-position: center left;
  }

  @include largePlus() {
    height: 400px;
  }

  &[data-bg='gradient'] {
    background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.11) 0px,
        rgba(0, 0, 0, 0.11) 12px,
        rgba(1, 1, 1, 0.16) 12px,
        rgba(1, 1, 1, 0.16) 24px,
        rgba(0, 0, 0, 0.14) 24px,
        rgba(0, 0, 0, 0.14) 36px,
        rgba(0, 0, 0, 0.23) 36px,
        rgba(0, 0, 0, 0.23) 48px,
        rgba(0, 0, 0, 0.12) 48px,
        rgba(0, 0, 0, 0.12) 60px,
        rgba(1, 1, 1, 0.07) 60px,
        rgba(1, 1, 1, 0.07) 72px,
        rgba(0, 0, 0, 0.21) 72px,
        rgba(0, 0, 0, 0.21) 84px,
        rgba(0, 0, 0, 0.24) 84px,
        rgba(0, 0, 0, 0.24) 96px,
        rgba(1, 1, 1, 0.23) 96px,
        rgba(1, 1, 1, 0.23) 108px,
        rgba(1, 1, 1, 0.07) 108px,
        rgba(1, 1, 1, 0.07) 120px,
        rgba(0, 0, 0, 0.01) 120px,
        rgba(0, 0, 0, 0.01) 132px,
        rgba(1, 1, 1, 0.22) 132px,
        rgba(1, 1, 1, 0.22) 144px,
        rgba(1, 1, 1, 0.24) 144px,
        rgba(1, 1, 1, 0.24) 156px,
        rgba(0, 0, 0, 0) 156px,
        rgba(0, 0, 0, 0) 168px,
        rgba(0, 0, 0, 0.12) 168px,
        rgba(0, 0, 0, 0.12) 180px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(1, 1, 1, 0.01) 0px,
        rgba(1, 1, 1, 0.01) 12px,
        rgba(1, 1, 1, 0.15) 12px,
        rgba(1, 1, 1, 0.15) 24px,
        rgba(0, 0, 0, 0.09) 24px,
        rgba(0, 0, 0, 0.09) 36px,
        rgba(0, 0, 0, 0.02) 36px,
        rgba(0, 0, 0, 0.02) 48px,
        rgba(0, 0, 0, 0.1) 48px,
        rgba(0, 0, 0, 0.1) 60px,
        rgba(1, 1, 1, 0.07) 60px,
        rgba(1, 1, 1, 0.07) 72px,
        rgba(1, 1, 1, 0.15) 72px,
        rgba(1, 1, 1, 0.15) 84px,
        rgba(0, 0, 0, 0.18) 84px,
        rgba(0, 0, 0, 0.18) 96px,
        rgba(1, 1, 1, 0.15) 96px,
        rgba(1, 1, 1, 0.15) 108px,
        rgba(1, 1, 1, 0.09) 108px,
        rgba(1, 1, 1, 0.09) 120px,
        rgba(1, 1, 1, 0.07) 120px,
        rgba(1, 1, 1, 0.07) 132px,
        rgba(1, 1, 1, 0.05) 132px,
        rgba(1, 1, 1, 0.05) 144px,
        rgba(0, 0, 0, 0.1) 144px,
        rgba(0, 0, 0, 0.1) 156px,
        rgba(1, 1, 1, 0.18) 156px,
        rgba(1, 1, 1, 0.18) 168px
      ),
      repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.24) 0px,
        rgba(0, 0, 0, 0.24) 16px,
        rgba(1, 1, 1, 0.06) 16px,
        rgba(1, 1, 1, 0.06) 32px,
        rgba(0, 0, 0, 0.16) 32px,
        rgba(0, 0, 0, 0.16) 48px,
        rgba(1, 1, 1, 0) 48px,
        rgba(1, 1, 1, 0) 64px,
        rgba(1, 1, 1, 0.12) 64px,
        rgba(1, 1, 1, 0.12) 80px,
        rgba(1, 1, 1, 0.22) 80px,
        rgba(1, 1, 1, 0.22) 96px,
        rgba(0, 0, 0, 0.24) 96px,
        rgba(0, 0, 0, 0.24) 112px,
        rgba(0, 0, 0, 0.25) 112px,
        rgba(0, 0, 0, 0.25) 128px,
        rgba(1, 1, 1, 0.12) 128px,
        rgba(1, 1, 1, 0.12) 144px,
        rgba(0, 0, 0, 0.18) 144px,
        rgba(0, 0, 0, 0.18) 160px,
        rgba(1, 1, 1, 0.03) 160px,
        rgba(1, 1, 1, 0.03) 176px,
        rgba(1, 1, 1, 0.1) 176px,
        rgba(1, 1, 1, 0.1) 192px
      ),
      repeating-linear-gradient(
        135deg,
        rgba(1, 1, 1, 0.18) 0px,
        rgba(1, 1, 1, 0.18) 3px,
        rgba(0, 0, 0, 0.09) 3px,
        rgba(0, 0, 0, 0.09) 6px,
        rgba(0, 0, 0, 0.08) 6px,
        rgba(0, 0, 0, 0.08) 9px,
        rgba(1, 1, 1, 0.05) 9px,
        rgba(1, 1, 1, 0.05) 12px,
        rgba(0, 0, 0, 0.01) 12px,
        rgba(0, 0, 0, 0.01) 15px,
        rgba(1, 1, 1, 0.12) 15px,
        rgba(1, 1, 1, 0.12) 18px,
        rgba(0, 0, 0, 0.05) 18px,
        rgba(0, 0, 0, 0.05) 21px,
        rgba(1, 1, 1, 0.16) 21px,
        rgba(1, 1, 1, 0.16) 24px,
        rgba(1, 1, 1, 0.07) 24px,
        rgba(1, 1, 1, 0.07) 27px,
        rgba(1, 1, 1, 0.23) 27px,
        rgba(1, 1, 1, 0.23) 30px,
        rgba(0, 0, 0, 0.2) 30px,
        rgba(0, 0, 0, 0.2) 33px,
        rgba(0, 0, 0, 0.18) 33px,
        rgba(0, 0, 0, 0.18) 36px,
        rgba(1, 1, 1, 0.12) 36px,
        rgba(1, 1, 1, 0.12) 39px,
        rgba(1, 1, 1, 0.13) 39px,
        rgba(1, 1, 1, 0.13) 42px,
        rgba(1, 1, 1, 0.2) 42px,
        rgba(1, 1, 1, 0.2) 45px,
        rgba(1, 1, 1, 0.18) 45px,
        rgba(1, 1, 1, 0.18) 48px,
        rgba(0, 0, 0, 0.2) 48px,
        rgba(0, 0, 0, 0.2) 51px,
        rgba(1, 1, 1, 0) 51px,
        rgba(1, 1, 1, 0) 54px,
        rgba(0, 0, 0, 0.03) 54px,
        rgba(0, 0, 0, 0.03) 57px,
        rgba(1, 1, 1, 0.06) 57px,
        rgba(1, 1, 1, 0.06) 60px,
        rgba(1, 1, 1, 0) 60px,
        rgba(1, 1, 1, 0) 63px,
        rgba(0, 0, 0, 0.1) 63px,
        rgba(0, 0, 0, 0.1) 66px,
        rgba(1, 1, 1, 0.19) 66px,
        rgba(1, 1, 1, 0.19) 69px
      ),
      linear-gradient(90deg, rgb(239, 53, 115), rgb(79, 2, 93));
  }
}

.intro {
  font-weight: 300;
  margin-top: 1rem;
}

.serviceList {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;

  @include mediumPlus() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  li {
    position: relative;
    display: inline-block;
  }

  > * + * {
    margin-top: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--hbr-light-gray);

    @include mediumPlus() {
      margin: 0;
      padding: 0;
      border: 0 none;
    }
  }
}

.heading {
  margin-bottom: 1rem;
}

.thumbnail {
  vertical-align: top;
  float: left;
  margin: 0 0.75rem 0 0;
  border-radius: 100%;
  line-height: 1.5;
  width: 100px;
  height: 100px;

  @include mediumPlus() {
    width: 150px;
    height: 150px;
  }
}

.excerpt {
  font-size: medium;
}
