@import '../../../utils/mixins';

.testimonials {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--hbr-light-gray);
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.5;
}

.blockquote {
  margin: 0;
  padding: 0;
  color: var(--hbr-dark);

  &::before,
  &::after {
    content: none;
    margin: 2px;
  }

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.cite {
  display: block;
  font-style: italic;
  color: var(--hbr-shocking-pink);
  margin-top: 1rem;

  &::before {
    content: '—';
    margin-right: 2px;
    color: initial;
  }
}

.articles {
  display: flex;
  overflow: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.article {
  flex-direction: column;
  flex-flow: column;
  min-width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;

  // animation: carousel 35s alternate infinite ease-in;

  .blockquote {
    width: 85%;
    margin: 0 auto;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  20%,
  25% {
    transform: translateX(-100%);
  }

  45%,
  50% {
    transform: translateX(-200%);
  }

  70%,
  75% {
    transform: translateX(-300%);
  }

  95%,
  100% {
    transform: translateX(-400%);
  }
}
