.header {
  margin: 1rem auto 2rem;
  max-width: 960px;
  padding: 2rem 1.0875rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.heading {
  margin: 0;
  background-image: url(./henna-by-ruby-logo@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 235px;
  height: 47px;
  font-size: 1px;
  text-indent: -1000%;
  justify-self: center;

  a {
    text-decoration: none;
  }
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  align-self: center;
}

.navList {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    color: #e91e63;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: currentColor;
      height: 2px;
      width: 0px;
      right: 0;
      bottom: -10px;
      transition: width 200ms ease-in-out;
    }

    &.active,
    &:hover {
      color: darken(#e91e63, 10%);

      &::after {
        width: 100%;
      }
    }
  }
}
