.category {
  display: inline-block;
  border: 1px solid var(--hbr-pink);
  padding: 2px 8px;
  font-size: small;
  margin-right: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 200ms ease;

  &:hover {
    background-color: var(--hbr-pink);
  }
}

.singleView {
  margin-bottom: 1.5rem;
}
