.article {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.link {
  display: flex;
  color: black;
  text-decoration: none;
}

.articleWrapper {
  width: 75%;
}

.date,
.timeToRead {
  font-size: small;
  display: inline-block;
  color: rgba(var(--hbr-shocking-pink), 0.75);
  margin-bottom: 10px;
}

.timeToRead {
  margin: 0 2px;

  &::before {
    content: "/";
    display: inline-block;
    margin: 0 4px;
  }
}

.disqus {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ddd;
}
