.article {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.link {
  display: flex;
  color: black;
  text-decoration: none;
}

.articleWrapper {
  width: 75%;
}

.date,
.timeToRead {
  font-size: small;
  display: inline-block;
  color: rgba(#e91e63, 0.75);
  margin-bottom: 10px;
}

.timeToRead {
  margin: 0 2px;

  &::before {
    content: "/";
    display: inline-block;
    margin: 0 4px;
  }
}
